@keyframes spin {
  //새로운 animate 만들기
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: black;
  margin: 0;
}

.bgVideo {
  position: fixed; //고정, 창에 맞게 비디오 크기 맞춰짐
  top: 0; //위의 여백 공간 및 h1 사라짐
  left: 0;
  width: 100vw; //vw
  height: 100vh; //vh, 스크롤을 위해 수정 가능
  object-fit: cover; //cover로 글자 박스 가리고 전체 화면 덮게
}

main {
  position: fixed;
  z-index: 2; //xyz할 때 z, 레이어 정렬, 숫자가 높을수록 앞으로
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .time {
    font-size: 65px;
    color: white;
    font-style: oblique;
    text-shadow: -3px 2px rgba(194, 118, 19, 0.861);
    font-family: "Lora", serif;
  }

  .quotes {
    position: relative;
    font-size: 40px;

    .quotesAddBtn {
      display: none;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
    &:hover {
      .quotesAddBtn {
        display: inline-block;
      }
    }
  }

  .newQuotes {
    display: none;
  }

  .search {
    .searchLogo {
      width: 32px;
      height: 32px;

      animation: spin 20s linear infinite; //linear 동일한 속도
    }
  }

  .searchResult {
    display: none;
  }

  .nft {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    img {
      width: 120px;
      height: 120px;
    }

    .nftHover {
      position: absolute;
      display: none;
      width: 120px;
      height: 120px;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);

      a {
        background-color: white;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        margin: -8px;
        border-radius: 9999px;
        width: 20px;
        height: 20px;
      }
    }
    &:hover {
      .nftHover {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .nftView {
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px;
    display: none;
  }
}
